image: owncloudci/golang:1.21
manifests:
  - image: owncloudci/golang:1.21-amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/golang:1.21-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
